AI and ML/3D PRINTER MATERIAL PREDICTION/flows.json
[{"id":"ced7b899.4c6b68","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"83a4ead0.620c38","type":"inject","z":"ced7b899.4c6b68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":89,"wires":[["3fb84852.5a8bc8"]]},{"id":"3fb84852.5a8bc8","type":"http request","z":"ced7b899.4c6b68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":222,"y":153,"wires":[["d9eaf34f.eace2","63ebc3db.2bea4c"]]},{"id":"63ebc3db.2bea4c","type":"function","z":"ced7b899.4c6b68","name":"preprocess","func":"var token = msg.payload.token;\nmsg.headers = {\"Authorization\":\"Bearer \"+token}\nvar lh=global.get(\"lh\")\nvar wt=global.get(\"wt\")\nvar id=global.get(\"id\")\nvar nt=global.get(\"nt\")\nvar bt=global.get(\"bt\")\nvar ps=global.get(\"ps\")\nvar fs=global.get(\"fs\")\nvar rh=global.get(\"rh\")\nvar ts=global.get(\"ts\")\nvar el=global.get(\"el\")\nvar infill=global.get(\"infill\")\nmsg.payload={\"fields\":[\"layer_height\",\"wall_thickness\",\"infill_density\",\"infill_pattern\",\"nozzle_temperature\",\"bed_temperature\",\"print_speed\",\"fan_speed\",\"roughness\",\"tension_strenght\",\"elongation\"],\"values\":[[lh,wt,id,infill,nt,bt,ps,fs,rh,ts,el]]}\n//msg.payload={\"fields\":[\"layer_height\",\"wall_thickness\",\"infill_density\",\"infill_pattern\",\"nozzle_temperature\",\"bed_temperature\",\"print_speed\",\"fan_speed\",\"roughness\",\"tension_strenght\",\"elongation\"],\"values\":[[0.02,10,40,1,200,60,40,0,60,24,1.1]]}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":247,"wires":[["fd2bcc1.31b1e3","d9eaf34f.eace2"]]},{"id":"d9eaf34f.eace2","type":"debug","z":"ced7b899.4c6b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":803,"y":150,"wires":[]},{"id":"fd2bcc1.31b1e3","type":"http request","z":"ced7b899.4c6b68","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/5571fc48-0a00-4138-804f-26a0a599bedb/deployments/02003366-eb43-4612-974c-329c9188c3bf/online","tls":"","proxy":"","authType":"basic","x":558,"y":241,"wires":[["dc452330.3af51","d9eaf34f.eace2"]]},{"id":"dc452330.3af51","type":"function","z":"ced7b899.4c6b68","name":"prediction","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":757,"y":230,"wires":[["d9eaf34f.eace2","def70f7a.b1d24"]]},{"id":"cc597826.0175c8","type":"ui_form","z":"ced7b899.4c6b68","name":"","label":"","group":"fd4c780.7c0de88","order":5,"width":0,"height":0,"options":[{"label":"LAYER HEIGHT","value":"lh","type":"number","required":true},{"label":"WALL THICKNESS","value":"wt","type":"number","required":true},{"label":"INFILL DENSITY","value":"id","type":"number","required":true},{"label":"NOZZLE TEMPERATURE","value":"nt","type":"number","required":true},{"label":"BED TEMPERATURE","value":"bt","type":"number","required":true},{"label":"PRINT SPEED","value":"ps","type":"number","required":true},{"label":"FAN SPEED","value":"fs","type":"number","required":true},{"label":"ROUGHNESS","value":"rh","type":"number","required":true},{"label":"TENSION STRENGTH","value":"ts","type":"number","required":true},{"label":"ELONGATION","value":"el","type":"number","required":true}],"formValue":{"lh":"","wt":"","id":"","nt":"","bt":"","ps":"","fs":"","rh":"","ts":"","el":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":354,"wires":[["602d56c4.e45758","bf7b2188.c2a4d"]]},{"id":"1b37a4f0.40aa8b","type":"ui_dropdown","z":"ced7b899.4c6b68","name":"","label":"","tooltip":"","place":"infill","group":"fd4c780.7c0de88","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"HONEYCOMB","value":"hc ","type":"str"},{"label":"GRID","value":"gr","type":"str"}],"payload":"","topic":"","x":262,"y":402,"wires":[["7fa04b27.e71af4","602d56c4.e45758"]]},{"id":"7fa04b27.e71af4","type":"function","z":"ced7b899.4c6b68","name":"INFILL SLECTION","func":"if(msg.payload == \"hc\"){\n    global.set(\"infill\",1)\n}\nelse if(msg.payload == \"gr\"){\n    global.set(\"infill\",0)\n}\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":488,"wires":[[]]},{"id":"602d56c4.e45758","type":"debug","z":"ced7b899.4c6b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":669,"y":365,"wires":[]},{"id":"bf7b2188.c2a4d","type":"function","z":"ced7b899.4c6b68","name":"save data","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"rh\",msg.payload.rh)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"el\",msg.payload.el)\nreturn msg;","outputs":1,"noerr":0,"x":118,"y":278,"wires":[["3fb84852.5a8bc8"]]},{"id":"def70f7a.b1d24","type":"ui_text","z":"ced7b899.4c6b68","group":"fd4c780.7c0de88","order":7,"width":0,"height":0,"name":"","label":"material","format":"{{msg.payload}}","layout":"row-spread","x":872,"y":289,"wires":[]},{"id":"fd4c780.7c0de88","type":"ui_group","z":"","name":"ML","tab":"f1a488.f89d8b78","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1a488.f89d8b78","type":"ui_tab","z":"","name":"3dprint","icon":"dashboard","order":2,"disabled":false,"hidden":false}]