AI and ML/Flood Prediction (Innovians)/Nodered flow.txt
[{"id":"d611cb18.867068","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6017ba1e.0f5444","type":"inject","z":"d611cb18.867068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159,"y":36,"wires":[["2601e82d.08cdd8"]]},{"id":"50012dcc.be0e74","type":"debug","z":"d611cb18.867068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":971,"y":20,"wires":[]},{"id":"2601e82d.08cdd8","type":"http request","z":"d611cb18.867068","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":366,"y":36,"wires":[["50012dcc.be0e74","a3c699ab.e907e8"]]},{"id":"a3c699ab.e907e8","type":"function","z":"d611cb18.867068","name":"preprocessing","func":"var token=msg.payload.token;\nvar tem=global.get(\"tem\");\nvar hum=global.get(\"hum\")\nvar cloud=global.get(\"cloud\")\nvar ar=global.get(\"ar\")\nvar jfr=global.get(\"jfr\")\nvar mmr=global.get(\"mmr\")\nvar aj=global.get(\"aj\")\nvar sub=global.get(\"sub\")\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"fields\": [\"Temperature\",\"Humidity\",\"Cloud\",\"Annual Rainfall\",\"Jan-Feb Rainfall\",\"Mar-May Rainfall\",\"avgjune\",\"sub\"],\"values\": [[tem,hum,cloud,ar,jfr,mmr,aj,sub]]}\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":105,"wires":[["fae3140.fcc38e8"]]},{"id":"25e390ab.fcc1","type":"function","z":"d611cb18.867068","name":"prediction","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":928,"y":137,"wires":[["f4823ef8.30e2b","50012dcc.be0e74"]]},{"id":"127b2433.edaa9c","type":"ui_form","z":"d611cb18.867068","name":"","label":"","group":"17c6c774.480c19","order":2,"width":0,"height":0,"options":[{"label":"Enter Temperature","value":"tem","type":"number","required":true},{"label":"Enter Humidity","value":"hum","type":"number","required":true},{"label":"Enter Cloud","value":"cloud","type":"number","required":true},{"label":"Enter Annual Rainfall","value":"ar","type":"number","required":true},{"label":"Enter Jan-Feb Rainfall","value":"jfr","type":"number","required":true},{"label":"Enter Mar-May Rainfall","value":"mmr","type":"number","required":true},{"label":"Enter avgjune ","value":"aj","type":"number","required":true},{"label":"Enter sub","value":"sub","type":"number","required":true}],"formValue":{"tem":"","hum":"","cloud":"","ar":"","jfr":"","mmr":"","aj":"","sub":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":128,"y":102,"wires":[["ef727aef.763278"]]},{"id":"ef727aef.763278","type":"function","z":"d611cb18.867068","name":"Save Data","func":"global.set(\"tem\",msg.payload.tem)\nglobal.set(\"hum\",msg.payload.hum)\nglobal.set(\"cloud\",msg.payload.cloud)\nglobal.set(\"ar\",msg.payload.ar)\nglobal.set(\"jfr\",msg.payload.jfr)\nglobal.set(\"mmr\",msg.payload.mmr)\nglobal.set(\"aj\",msg.payload.aj)\nglobal.set(\"sub\",msg.payload.sub)\n\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":102,"wires":[["2601e82d.08cdd8"]]},{"id":"f4823ef8.30e2b","type":"ui_text","z":"d611cb18.867068","group":"17c6c774.480c19","order":3,"width":0,"height":0,"name":"","label":"Flood Predict","format":"{{msg.payload}}","layout":"row-spread","x":841,"y":217,"wires":[]},{"id":"fae3140.fcc38e8","type":"http request","z":"d611cb18.867068","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6c50038c-b607-4ad0-9c14-59511834d627/deployments/d4d67ebb-e8ee-4aa5-987f-46f7b04eddb7/online","tls":"","proxy":"","authType":"basic","x":735,"y":108,"wires":[["50012dcc.be0e74","25e390ab.fcc1"]]},{"id":"17c6c774.480c19","type":"ui_group","z":"","name":"Machine Learing Model","tab":"609c4989.29f3e","disp":true,"width":"6","collapse":false},{"id":"609c4989.29f3e","type":"ui_tab","z":"","name":"Flood Prediction","icon":"dashboard","disabled":false,"hidden":false}]