AI and ML/Smart Predictors/Diabetic Patients readmisision/flow.txt
[{"id":"ae8add6e.6bd2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"143cb9a0.a73c96","type":"ui_dropdown","z":"ae8add6e.6bd2","name":"","label":"","tooltip":"","place":"Select option","group":"12afc1bd.995d4e","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Arul","value":"P1","type":"str"},{"label":"Raja","value":"P2","type":"str"},{"label":"Abishek","value":"P3","type":"str"},{"label":"Anand","value":"P4","type":"str"}],"payload":"","topic":"","x":96,"y":478,"wires":[["c19af647.7bd588"]]},{"id":"c19af647.7bd588","type":"cloudant in","z":"ae8add6e.6bd2","name":"","cloudant":"","database":"patient_records","service":"veeppiaarmlr-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":275.00000762939453,"y":478.00001335144043,"wires":[["b1f15b9.70b3fa8"]]},{"id":"b1f15b9.70b3fa8","type":"function","z":"ae8add6e.6bd2","name":"Global Setting","func":"global.set(\"gender\",msg.payload.gender)\nglobal.set(\"time_in_hospital\",msg.payload.time_in_hospital)\nglobal.set(\"num_lab_procedures\",msg.payload.num_lab_procedures)\nglobal.set(\"num_procedures\",msg.payload.num_procedures)\nglobal.set(\"num_medications\",msg.payload.num_medications)\nglobal.set(\"number_emergency\",msg.payload.number_emergency)\nglobal.set(\"number_diagnoses\",msg.payload.number_diagnoses)\nglobal.set(\"insulin0\",msg.payload.insulin[0])\nglobal.set(\"insulin1\",msg.payload.insulin[1])\nglobal.set(\"insulin2\",msg.payload.insulin[2])\nglobal.set(\"diabetesMed\",msg.payload.diabetesMed)\nglobal.set(\"A1C\",msg.payload.A1C)\nglobal.set(\"Age0\",msg.payload.Age[0])\nglobal.set(\"Age1\",msg.payload.Age[1])\nreturn msg;","outputs":1,"noerr":0,"x":332.00006103515625,"y":332,"wires":[["8737fc69.9d8fb","728ce7e5.578db8"]]},{"id":"8737fc69.9d8fb","type":"debug","z":"ae8add6e.6bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":723.142822265625,"y":507.2857360839844,"wires":[]},{"id":"728ce7e5.578db8","type":"http request","z":"ae8add6e.6bd2","name":"GET Method","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":195.71434020996094,"y":67.14285278320312,"wires":[["976eb8a7.90cee8"]]},{"id":"976eb8a7.90cee8","type":"function","z":"ae8add6e.6bd2","name":"Preprocess","func":"var token = msg.payload.token\nvar gender = global.get(\"gender\")\nvar time_in_hospital = global.get(\"time_in_hospital\")\nvar num_lab_procedures = global.get(\"num_lab_procedures\")\nvar num_procedures = global.get(\"num_procedures\")\nvar num_medications = global.get(\"num_medications\")\nvar number_emergency = global.get(\"number_emergency\")\nvar number_diagnoses = global.get(\"number_diagnoses\")\nvar insulin0 = global.get(\"insulin0\")\nvar insulin1 = global.get(\"insulin1\")\nvar insulin2 = global.get(\"insulin2\")\nvar diabetesMed = global.get(\"diabetesMed\")\nvar A1C = global.get(\"A1C\")\nvar Age0 = global.get(\"Age0\")\nvar Age1 = global.get(\"Age1\")\nmsg.headers = {\"Authorization\":\"Bearer \"+token}\nmsg.payload = {\"fields\": [\"Age0\",\"Age1\",\"insulin0\",\"insulin1\",\"insulin2\",\"gender\",\"time_in_hospital\",\"num_lab_procedures\",\"num_procedures\",\"num_medications\",\"number_emergency\",\"number_diagnoses\",\"diabetesMed\",\"A1C\"],\"values\":[[Age0,Age1,insulin0,insulin1,insulin2,gender,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,number_diagnoses,diabetesMed,A1C]]}\nreturn msg;","outputs":1,"noerr":0,"x":398.5714302062988,"y":132.85714721679688,"wires":[["33a37028.0945b","f98ed7ca.a41ae8"]]},{"id":"33a37028.0945b","type":"http request","z":"ae8add6e.6bd2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fd1c0cea-986c-40ea-82a3-b3c8a908aff4/deployments/e1df2090-e7ae-4d9e-af14-51b639617445/online","tls":"","proxy":"","authType":"basic","x":576.2857666015625,"y":203.57144165039062,"wires":[["599e592a.f59a88","f98ed7ca.a41ae8"]]},{"id":"3aa86e37.141432","type":"ui_text","z":"ae8add6e.6bd2","group":"12afc1bd.995d4e","order":3,"width":0,"height":0,"name":"","label":"Diabetes Readmission","format":"{{msg.payload}}","layout":"row-left","x":887.4285278320312,"y":384.2857666015625,"wires":[]},{"id":"599e592a.f59a88","type":"function","z":"ae8add6e.6bd2","name":"Prediction","func":"var data = msg.payload.values[0][0]\nif(data===0){\n    msg.payload=\"The patient will not be readmit in the hospital\"\n}\nelse if(data===1){\n    msg.payload=\"The patient will be readmit in the hospital\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":758.571418762207,"y":268.5714340209961,"wires":[["3aa86e37.141432","f98ed7ca.a41ae8"]]},{"id":"f98ed7ca.a41ae8","type":"debug","z":"ae8add6e.6bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":814.5238385881696,"y":142.85714285714283,"wires":[]},{"id":"12afc1bd.995d4e","type":"ui_group","z":"","name":"Diabetes Readmission","tab":"8b6c719c.7750f","disp":true,"width":"6","collapse":false},{"id":"8b6c719c.7750f","type":"ui_tab","z":"","name":"Readmission pred","icon":"dashboard","disabled":false,"hidden":false}]