AI and ML/Avalanche Prediction(3Friends)/nodered.txt
[{"id":"56f8493f.6e4488","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"33b9140b.48172c","type":"inject","z":"56f8493f.6e4488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233,"y":179,"wires":[["b25d067.15dfaf8"]]},{"id":"b25d067.15dfaf8","type":"http request","z":"56f8493f.6e4488","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":376,"y":202,"wires":[["bd739b7b.f6b058"]]},{"id":"bd739b7b.f6b058","type":"function","z":"56f8493f.6e4488","name":"preprocess","func":"var token=msg.payload.token;\nvar s=global.get(\"s\");\nvar sd=global.get(\"sd\");\nvar t=global.get(\"t\");\nvar w=global.get(\"w\");\nvar fd0=global.get(\"fd0\")\nvar fd1=global.get(\"fd1\")\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"fields\":[\"FD0\",\"FD1\",\"Slope\",\"Snow Density\",\"Temperature\",\"Wind\"],\"values\":[[fd0,fd1,s,sd,t,w]]}\nreturn msg;","outputs":1,"noerr":0,"x":529,"y":201,"wires":[["aaf0f639.a2db48"]]},{"id":"aaf0f639.a2db48","type":"http request","z":"56f8493f.6e4488","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e82bbe41-6721-4c06-9ac6-894baee0ade8/deployments/a89e7335-3a91-43b8-9504-83a21b98b660/online","tls":"","proxy":"","authType":"basic","x":685,"y":201,"wires":[["f3ff65c9.040758"]]},{"id":"f3ff65c9.040758","type":"function","z":"56f8493f.6e4488","name":"prediction","func":"var x=msg.payload.values[0][0];\nif(x==0){\n    msg.payload='Low'\n}\nelse if(x==1){\n    msg.payload='Moderate '\n}\nelse if(x==2){\n    msg.payload='High'\n}\nreturn msg;","outputs":1,"noerr":0,"x":834,"y":201,"wires":[["b28490ff.dbdbe"]]},{"id":"80dff53.974e708","type":"ui_form","z":"56f8493f.6e4488","name":"","label":"","group":"8df88524.1f6838","order":2,"width":0,"height":0,"options":[{"label":"Enter Slope(in degree)","value":"s","type":"number","required":true},{"label":"Enter Snow Density(in meter)","value":"sd","type":"number","required":true},{"label":"Enter Temperature(in Celcius)","value":"t","type":"number","required":true},{"label":"Enter Wind(in mph)","value":"w","type":"number","required":true}],"formValue":{"s":"","sd":"","t":"","w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":83,"y":236,"wires":[["499b84bd.bdf90c"]]},{"id":"e6a1fb78.3bf8c8","type":"ui_dropdown","z":"56f8493f.6e4488","name":"","label":"Forest Density","tooltip":"","place":"Select State","group":"8df88524.1f6838","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"High","value":"h","type":"str"},{"label":"Medium","value":"m","type":"str"},{"label":"Low","value":"l","type":"str"}],"payload":"","topic":"","x":115,"y":288,"wires":[["f1b9be3e.39e13"]]},{"id":"f1b9be3e.39e13","type":"function","z":"56f8493f.6e4488","name":"State Selection","func":"if(msg.payload==\"l\"){\n    global.set(\"fd0\",1);\n    global.set(\"fd1\",0);\n    \n}\nelse if(msg.payload==\"m\"){\n    global.set(\"fd0\",0);\n    global.set(\"fd1\",1);\n}\nelse if(msg.payload==\"h\"){\n    global.set(\"fd0\",0);\n    global.set(\"fd1\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":289,"wires":[[]]},{"id":"499b84bd.bdf90c","type":"function","z":"56f8493f.6e4488","name":"Save Data","func":"global.set(\"s\",msg.payload.s)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"w\",msg.payload.w)\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":235,"wires":[["b25d067.15dfaf8"]]},{"id":"b28490ff.dbdbe","type":"ui_text","z":"56f8493f.6e4488","group":"8df88524.1f6838","order":5,"width":0,"height":0,"name":"","label":"Danger Scale","format":"{{msg.payload}}","layout":"row-center","x":989,"y":201,"wires":[]},{"id":"8df88524.1f6838","type":"ui_group","z":"","name":"Avalanche Prediction","tab":"93554a0c.94e4b8","disp":true,"width":"6","collapse":false},{"id":"93554a0c.94e4b8","type":"ui_tab","z":"","name":"AVALANCHE PREDICITION","icon":"dashboard","disabled":false,"hidden":false}]