AI and ML/EMPLOYEE ATTRITION PREDICTION/Node Red.txt
[{"id":"ab91d06.cb8c13","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"65398d84.249c24","type":"inject","z":"ab91d06.cb8c13","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[["c2b95deb.1fc7f"]]},{"id":"52f18b33.c5a4a4","type":"debug","z":"ab91d06.cb8c13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":60,"wires":[]},{"id":"c2b95deb.1fc7f","type":"http request","z":"ab91d06.cb8c13","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token ","tls":"","proxy":"","authType":"basic","x":490,"y":120,"wires":[["52f18b33.c5a4a4","535b8d86.d2cb04"]]},{"id":"535b8d86.d2cb04","type":"function","z":"ab91d06.cb8c13","name":"Preprocess","func":"var token=msg.payload.token;\nvar ag=global.get(\"ag\")\nvar es=global.get(\"es\")\nvar dp=global.get(\"dp\")\nvar jl=global.get(\"jl\")\nvar js=global.get(\"js\")\nvar mi=global.get(\"mi\")\nvar mr=global.get(\"mr\")\nvar pe=global.get(\"pe\")\nvar pr=global.get(\"pr\")\nvar yc=global.get(\"yc\")\nvar yr=global.get(\"yr\")\nvar yp=global.get(\"yp\")\nvar ot=global.get(\"ot\")\nvar ge=global.get(\"ge\")\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"fields\":[\"Age\",\"Department\",\"EnvironmentSatisfaction\",\"Gender\",\"JobLevel\",\"JobSatisfaction\",\"MonthlyIncome\",\"MonthlyRate\",\"OverTime\",\"PercentSalaryHike\",\"PerformanceRating\",\"YearsAtCompany\",\"YearsInCurrentRole\",\"YearsSinceLastPromotion\"],\"values\":[[ag,dp,es,ge,jl,js,mi,mr,ot,pe,pr,yc,yr,yp]]}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["d611d890.106e28","52f18b33.c5a4a4"]]},{"id":"d611d890.106e28","type":"http request","z":"ab91d06.cb8c13","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/de1c3184-06fa-4d87-9d99-2cc85c30b5b1/deployments/ae44de94-c5fa-4b0b-a301-5728d092bdb5/online","tls":"","proxy":"","authType":"basic","x":710,"y":240,"wires":[["4e329997.a2e978","52f18b33.c5a4a4"]]},{"id":"4e329997.a2e978","type":"function","z":"ab91d06.cb8c13","name":"prediction","func":"var dat=msg.payload.values[0][0]\nif(dat==1){\n   msg.payload=\"not leaving the company\" \n}\nelse if(dat==0){\n    msg.payload=\"leaving the company\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["52f18b33.c5a4a4","20792c72.ca7114"]]},{"id":"ebf756e7.bcc098","type":"ui_form","z":"ab91d06.cb8c13","name":"","label":"","group":"c09d5ec.abb1da","order":6,"width":"0","height":"0","options":[{"label":"Enter Age","value":"ag","type":"number","required":true},{"label":"Enter EnvironmentSatisfaction","value":"es","type":"number","required":true},{"label":"Enter JobLevel\t","value":"jl","type":"number","required":true},{"label":"EnterJobSatisfaction","value":"js","type":"number","required":true},{"label":"Enter MonthlyIncome","value":"mi","type":"number","required":true},{"label":"Enter MonthlyRate","value":"mr","type":"number","required":true},{"label":"Enter PercentSalaryHike","value":"pe","type":"number","required":true},{"label":"Enter PerformanceRating","value":"pr","type":"number","required":true},{"label":"Enter YearsAtCompany","value":"yc","type":"number","required":true},{"label":"Enter YearsInCurrentRole","value":"yr","type":"number","required":true},{"label":"Enter YearsSinceLastPromotion","value":"yp","type":"number","required":true}],"formValue":{"ag":"","es":"","jl":"","js":"","mi":"","mr":"","pe":"","pr":"","yc":"","yr":"","yp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["8f127956.0eefc8","cbda88dc.725058"]]},{"id":"cbda88dc.725058","type":"debug","z":"ab91d06.cb8c13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":360,"wires":[]},{"id":"8f127956.0eefc8","type":"function","z":"ab91d06.cb8c13","name":"save data","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"es\",msg.payload.es)\nglobal.set(\"jl\",msg.payload.jl)\nglobal.set(\"js\",msg.payload.js)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"yc\",msg.payload.yc)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"yp\",msg.payload.yp)\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["c2b95deb.1fc7f"]]},{"id":"20792c72.ca7114","type":"ui_text","z":"ab91d06.cb8c13","group":"c09d5ec.abb1da","order":9,"width":0,"height":0,"name":"","label":"Employee Attrition Prediction","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":300,"wires":[]},{"id":"163b566d.16f58a","type":"ui_dropdown","z":"ab91d06.cb8c13","name":"","label":"Enter Department ","tooltip":"","place":"Department Selection","group":"c09d5ec.abb1da","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Sales","value":"sa","type":"str"},{"label":"Research and development","value":"rd","type":"str"}],"payload":"","topic":"","x":170,"y":380,"wires":[["dc35997c.b414b8"]]},{"id":"a56f6294.efd54","type":"ui_dropdown","z":"ab91d06.cb8c13","name":"","label":"Enter Gender ","tooltip":"","place":"Gender Selection","group":"c09d5ec.abb1da","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"ml","type":"str"},{"label":"Female","value":"fl","type":"str"}],"payload":"","topic":"","x":180,"y":500,"wires":[["cbda88dc.725058","dad2550c.6e1958"]]},{"id":"dc35997c.b414b8","type":"function","z":"ab91d06.cb8c13","name":"Department Selection","func":"if(msg.payload===\"sa\"){\n    global.set(\"dp\",1);\n}\nelse if(msg.payload===\"rd\"){\n     global.set(\"dp\",0);\n}\nreturn {payload:global.get(\"dp\")};","outputs":1,"noerr":0,"x":400,"y":360,"wires":[[]]},{"id":"dad2550c.6e1958","type":"function","z":"ab91d06.cb8c13","name":"Gender selection","func":"if(msg.payload==\"fl\"){\n    global.set(\"ge\",0);\n}\nelse if(msg.payload==\"ml\"){\n     global.set(\"ge\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[[]]},{"id":"d3cad1e9.6fcc8","type":"ui_dropdown","z":"ab91d06.cb8c13","name":"","label":"Overtime","tooltip":"","place":"Select option","group":"c09d5ec.abb1da","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"No","value":"no","type":"str"},{"label":"Yes","value":"ye","type":"str"}],"payload":"","topic":"","x":160,"y":600,"wires":[["703693ae.72fcbc","cbda88dc.725058"]]},{"id":"703693ae.72fcbc","type":"function","z":"ab91d06.cb8c13","name":"Overtime","func":"if(msg.payload==\"no\"){\n    global.set(\"ot\",0);\n}\nelse if(msg.payload==\"ye\"){\n     global.set(\"ot\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[[]]},{"id":"c09d5ec.abb1da","type":"ui_group","z":"","name":"Machine learning model","tab":"25cabc36.a63f54","disp":true,"width":"10","collapse":false},{"id":"25cabc36.a63f54","type":"ui_tab","z":"","name":"Employee Attrition Prediction","icon":"dashboard","disabled":false,"hidden":false}]