AI and ML/Diabetes Mellitus Prediction/flows.json
[{"id":"f2e19db9.d18fb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"32608788.09b0d8","type":"inject","z":"f2e19db9.d18fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202,"y":157,"wires":[["6d66741e.1b5b1c"]]},{"id":"983caa1f.81e088","type":"debug","z":"f2e19db9.d18fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":132,"wires":[]},{"id":"6d66741e.1b5b1c","type":"http request","z":"f2e19db9.d18fb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":434,"y":111,"wires":[["983caa1f.81e088","3362c23c.d25ffe"]]},{"id":"3362c23c.d25ffe","type":"function","z":"f2e19db9.d18fb","name":"preprocess","func":"var token=msg.payload.token;\nvar p=global.get(\"p\")\nvar g=global.get(\"g\")\nvar b=global.get(\"b\")\nvar s=global.get(\"s\")\nvar i=global.get(\"i\")\nvar bmi=global.get(\"bmi\")\nvar dp=global.get(\"dp\")\nvar a=global.get(\"a\")\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"fields\":[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"\t],\"values\":[[p,g,b,s,i,bmi,dp,a]]}\nreturn msg;\n","outputs":1,"noerr":0,"x":469,"y":251,"wires":[["fa2d001c.e0c1a"]]},{"id":"fa2d001c.e0c1a","type":"http request","z":"f2e19db9.d18fb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/14680600-a035-4dd0-a195-c6ffda1288e8/deployments/211f38bc-bb4f-4e0d-b0e8-bf9b71cba952/online","tls":"","proxy":"","authType":"basic","x":689,"y":258,"wires":[["983caa1f.81e088","7d86403b.8bc32"]]},{"id":"7d86403b.8bc32","type":"function","z":"f2e19db9.d18fb","name":"prediction","func":"msg.payload=msg.payload.values[0][1][1]\nif(msg.payload<0.5)\n{\n    msg.payload=\"You dont have Diabetes\"\n}\nelse \n{\n    msg.payload=\"You have Diabetes\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":922,"y":352,"wires":[["983caa1f.81e088","31dee400.7e5fbc"]]},{"id":"15422f47.4781a1","type":"ui_form","z":"f2e19db9.d18fb","name":"","label":"","group":"b4d72d5b.f6a39","order":1,"width":0,"height":0,"options":[{"label":"Enter Pregnencies","value":"p","type":"number","required":true},{"label":"Enter Glucose","value":"g","type":"number","required":true},{"label":"Enter Blood Pressure","value":"b","type":"number","required":true},{"label":"Enter Skin Thickness","value":"s","type":"number","required":true},{"label":"Enter Insulin","value":"i","type":"number","required":true},{"label":"Enter BMI","value":"bmi","type":"number","required":true},{"label":"Enter Diabetes Pedigree Function","value":"dp","type":"number","required":true},{"label":"Enter Age","value":"a","type":"number","required":true}],"formValue":{"p":"","g":"","b":"","s":"","i":"","bmi":"","dp":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":103,"y":522,"wires":[["240e92a9.b81a8e","c1cafbc6.e956f8"]]},{"id":"240e92a9.b81a8e","type":"debug","z":"f2e19db9.d18fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":325,"y":396,"wires":[]},{"id":"c1cafbc6.e956f8","type":"function","z":"f2e19db9.d18fb","name":"save data","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dp\",msg.payload.dp)\nglobal.set(\"a\",msg.payload.a)\nreturn msg;\n","outputs":1,"noerr":0,"x":171,"y":277,"wires":[["6d66741e.1b5b1c"]]},{"id":"31dee400.7e5fbc","type":"ui_text","z":"f2e19db9.d18fb","group":"b4d72d5b.f6a39","order":5,"width":0,"height":0,"name":"","label":"Prediction : ","format":"{{msg.payload}}","layout":"row-spread","x":1023,"y":432,"wires":[]},{"id":"b4d72d5b.f6a39","type":"ui_group","z":"","name":"Diabetes","tab":"fc355ac3.02d3e8","disp":true,"width":"6","collapse":false},{"id":"fc355ac3.02d3e8","type":"ui_tab","z":"","name":"Diabetes Prediction","icon":"dashboard","order":2,"disabled":false,"hidden":false}]