AI and ML/AirQualityPrediction(TechSqard)/flows.json
[{"id":"59b3e1b8.1cbee","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"51282b3c.fc6744","type":"function","z":"59b3e1b8.1cbee","name":"Save data","func":"//global.set(\"sun\",msg.payload.sun)\n//global.set(\"wind\",msg.payload.wind)\n//global.set(\"temp\",msg.payload.temp)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":155,"wires":[["92e220a3.2d5e9"]]},{"id":"92e220a3.2d5e9","type":"http request","z":"59b3e1b8.1cbee","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":868.5,"y":157,"wires":[["ce5e7dfd.3b7eb"]]},{"id":"ce5e7dfd.3b7eb","type":"function","z":"59b3e1b8.1cbee","name":"Preprocess","func":"function getRandomInt(max) {\n  return Math.floor(Math.random() * Math.floor(max));\n}\nvar token=msg.payload.token;\n//global.set(\"temp\",89.23);\n//var air=global.get(\"sun\")\n//var wind=global.get(\"wind\")\nvar air=getRandomInt(600)\nvar wind=getRandomInt(17)\nvar temp=global.get(\"temp\")\n/*var month=global.get(\"month\")\nvar day=global.get(\"day\")*/\ntoday=new Date()\nvar day=today.getDate();\nvar month=today.getMonth()+1;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"fields\":[\"Solar Radiation\",\"Wind\",\"Temp\",\"Month\",\"Day\"],\"values\":[[air,wind,temp,month,day]]}\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":228,"wires":[["fbaba304.ae346","243d5497.9e13fc"]]},{"id":"fbaba304.ae346","type":"http request","z":"59b3e1b8.1cbee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f4371351-22cc-4f6d-87cc-73c2cc3afc56/deployments/0c47ad76-88d4-47e8-8e56-3441e8f7e1c4/online","tls":"","proxy":"","authType":"basic","x":851.5,"y":225,"wires":[["798c626.89c759c","83b5b17b.443b4","243d5497.9e13fc"]]},{"id":"798c626.89c759c","type":"function","z":"59b3e1b8.1cbee","name":"Prediction","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":525.5,"y":296,"wires":[["24f6ab53.3dff74","5e407110.63ea3"]]},{"id":"24f6ab53.3dff74","type":"ui_gauge","z":"59b3e1b8.1cbee","name":"","group":"b1e1970e.603b38","order":4,"width":"5","height":"5","gtype":"wave","title":"Ozone","label":"","format":"","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":861,"y":308,"wires":[]},{"id":"83b5b17b.443b4","type":"function","z":"59b3e1b8.1cbee","name":"air_quality","func":"var msg1=msg.payload.values[0][0]\nvar air=\"\";\nif(msg1<=50){\n    air=\"Good\";\n}\nelse if(msg1>50 && msg1<101){\n    air=\"Moderate\";\n}\nelse if(msg1>100 && msg1<151){\n    air=\"Unhealthy for sensitive people\";\n}\nelse if(msg1>150 && msg1<201){\n    air=\"Unhealthy\";\n}\nelse if(msg1>200 && msg1<301){\n    air=\"Very unhealthy\";\n}\nelse if(msg1>300){\n    air=\"Hazardous\";\n}\nreturn {payload:air};","outputs":1,"noerr":0,"x":565,"y":364,"wires":[["36797b47.ae3c94"]]},{"id":"36797b47.ae3c94","type":"ui_text","z":"59b3e1b8.1cbee","group":"b1e1970e.603b38","order":5,"width":0,"height":0,"name":"","label":"Air Quality Index","format":"{{msg.payload}}","layout":"col-center","x":875,"y":375,"wires":[]},{"id":"dda19c3c.9ca12","type":"ibmiot in","z":"59b3e1b8.1cbee","authentication":"apiKey","apiKey":"cfa0cc1f.7e256","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nodemcu1","applicationId":"","deviceType":"mydevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":389,"y":571,"wires":[["de478c4f.d828b","243d5497.9e13fc"]]},{"id":"243d5497.9e13fc","type":"debug","z":"59b3e1b8.1cbee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":483,"wires":[]},{"id":"de478c4f.d828b","type":"function","z":"59b3e1b8.1cbee","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\n//global.set(\"temp\",89.23);\nglobal.set(\"temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":663,"y":523,"wires":[[]]},{"id":"e9d75fec.b6eaa","type":"http in","z":"59b3e1b8.1cbee","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":390.5,"y":703,"wires":[["bc8a60e.cd53ea"]]},{"id":"bc8a60e.cd53ea","type":"function","z":"59b3e1b8.1cbee","name":"","func":"msg.payload=global.get(\"temp\")\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":703,"wires":[["78221078.2294"]]},{"id":"78221078.2294","type":"http response","z":"59b3e1b8.1cbee","name":"","statusCode":"","headers":{},"x":703.5,"y":703,"wires":[]},{"id":"b7be08d1.a3a738","type":"ui_button","z":"59b3e1b8.1cbee","name":"","group":"b1e1970e.603b38","order":3,"width":0,"height":0,"passthru":false,"label":"Predict","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":336.5,"y":137,"wires":[["51282b3c.fc6744"]]},{"id":"b8fcd6ba.3be748","type":"http in","z":"59b3e1b8.1cbee","name":"","url":"/send","method":"get","upload":false,"swaggerDoc":"","x":161.01953125,"y":314.75390625,"wires":[["51282b3c.fc6744"]]},{"id":"5e407110.63ea3","type":"http response","z":"59b3e1b8.1cbee","name":"","statusCode":"","headers":{},"x":701.01953125,"y":447.75390625,"wires":[]},{"id":"b1e1970e.603b38","type":"ui_group","z":"","name":"Air Quality ML","tab":"9dbc7a78.870e48","disp":true,"width":"5","collapse":false},{"id":"cfa0cc1f.7e256","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"jwczs2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9dbc7a78.870e48","type":"ui_tab","z":"","name":"Air Quality Prediction","icon":"dashboard","disabled":false,"hidden":false}]